*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav{
    width: 100%;
    padding: 15px;
    
    width: 100%;
    z-index: 4;
    background-color: transparent;
}
.mdash{
    width: 100px;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: white;
    transition: 1s ease;
    position: absolute;
    right: 350px;
    top: 23px;
    padding: 10px;
    width: 120px;
   
    
}
.mdash:hover{
    background-color: orange;
     box-shadow: 8px 0 10px rgba(0, 0, 0, 0.732);
    
}
.Nlink{
 background-color: white;
 color: grey;
 text-decoration: none;
 margin: 20px;
 border: 1px solid grey;
 border-radius: 5px;
position: absolute;
right: 20px;
top:0%;
padding: 5px;
font-size: 20px;
 
}
.Nlink:hover{
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.732);
    background-color: grey;
    color: black;
}
.Mlink{
     background-color: white;
 color: grey;
 text-decoration: none;
 margin: 20px;
 border: 1px solid grey;
 border-radius: 5px;
position: absolute;
right: 150px;
top:0%;
padding: 5px;
font-size: 20px;
}
.Mlink:hover{
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.732);
     background-color: grey;
}
.box{
    max-width: 900px;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    font-size: 20px;
    border-radius: 5px;
    margin-left:600px;
    margin-top: -400px;
    
}
.form{
     display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    width: 500px;
    height: 560px;
    transition: 1s ease;
    position: absolute;
    right: 300px;
    top: 120px;
   
  
}
.form:hover{
    box-shadow: 10px 0 10px rgba(0, 0, 0, 0.732);
}

.formi{
    padding: 10px;
    width: 450px;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: rgb(247, 244, 244);
    margin-top: 3px;
    margin-bottom: 10px;
    font-size: 17px;
    margin-left: 10px;
}
.lb{
    padding: 10px;
    width: 450px;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 20px;
    background-color: rgb(34, 34, 214);
    color: white;
    margin-left: 10px;
}
h1{
    text-align: center;
    font-family:  sans-serif;
    margin-top: -50px;
    margin-bottom: -15px;
}
body{
     background: linear-gradient(rgb(233, 231, 231));
   

}
.check{
    font-size: 20px;
    margin-top: 10px;
    text-align: center;
    
}
a{
    text-decoration: none;
}
h5{
    text-align: center;
    margin-bottom: 15px;
    color: rgb(91, 90, 90);
    margin-bottom: 20px;
}
.lb:hover{
    background-color: orange;
     box-shadow: 10px 0 10px rgba(0, 0, 0, 0.732);
}
label{
    margin-left: 10px;
}
img{
    width: 400px;
    height: 550px;
    object-fit: cover;
    border-radius: 5px;
}
h2{
    text-align: center;
    font-family:  sans-serif;
    margin-top: -5px;
    margin-bottom: -15px;
    font-family:  sans-serif;
    font-size: 40px;
}
select{
     padding: 10px;
    width: 450px;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: rgb(247, 244, 244);
    margin-top: 3px;
    margin-bottom: 10px;
    font-size: 17px;
    margin-left: 10px;
}
h3{
    text-align: center;
    font-family:  sans-serif;
    margin-top: -3px;
    margin-bottom: -15px;
    font-size: 40px;
}
@media screen and (max-width:360) {
    .form{
       float: center;
    }

}
@media screen and (max-width: 768px){
     .form{
        width: auto;
    }

}
.out{
    color: rgb(58, 57, 57);
    font-size:70px;
  
   
}
h6{
    font-size: 45px;
    margin-left: 10px;
    position: absolute;
    bottom: 50px;
   
}
span{
    color: rgb(80, 80, 236);
    margin-top: 30px;
   
}
.i{
    color: grey;
}